.NavBar-root {
    flex-grow: 1;
    margin-bottom: 2em;
}

.NavBar-menuButton {
    margin-right: 2rem;
    flex-grow: 1;
}

.NavBar-title {
    flex-grow: 1
}

.flex-column {
    display: flex;
    flex-direction: column;
}