.report-border {
    width: 50rem;
    min-width: 51rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .5rem
}

.table {
    margin: 0rem auto;
    border-collapse: collapse;
    border-color: gray;
}

.table-header {
    font-size: .8rem;
    border: rgb(145, 142, 142) 1px solid;
    padding: 1rem;
}

.table-row {
    font-size: .6rem;
    border: rgb(145, 142, 142) 1px solid;
}

.button {
    max-width: 10rem;
    margin-right: 100rem;
}
