.Platform-report-border {
    max-width: 90%;
    margin: 2rem auto;
}

.Platform-table {
    max-width: 100%;
}

.Platform-table-row {
    font-size: .8rem;
    border: rgb(145, 142, 142) 1px solid;
}

.Platform-table-header {
    font-size: 1rem;
    border: rgb(145, 142, 142) 1px solid;
    padding: .3em;
}